
  
  .card {
    width: 300px;
    background-color: #F6F8FA;
    border: 2px dotted #DADCE0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
  }
  