<div class="wreapper">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="image-container" (click)="openModal()">
          <img src="assets/images/add-assignment.svg" alt="Add Assignment" />
        </div>
        <h5>New Assessment</h5>
        <p>
          From here you can add questions of multiple types like MCQs,
          subjective (text or paragraph)!
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card new-card">
        <div class="card-body p-0">
          <div class="row justify-content-between alignment">
            <div class="col-2">
              <img src="assets/images/card_two.svg" class="image" alt="Image" />
            </div>
            <div class="col-2">
              <i class="three-dots fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-4">
              <h5 class="text">Math Assessment</h5>
            </div>
          </div>
          <div class="row pt-2 ml-2">
            <div class="d-flex align-items-center">
              <h6 class="mr-2 mb-0">Job</h6>
              <img src="assets/images/v-line.svg" alt="" class="mr-2" />
              <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
              <span>07 Aug 2023</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr class="dotted-line" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
           <div class="d-flex">
            <div class="ml-2">
              00
              <br />
              Duration
            </div>
            <div class="ml-2">
              00
              <br />
              Question
            </div>
           </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex circle-css-custom">
                <button class="rounded-button">
                  <i class="fa fa-paperclip mr-2" aria-hidden="true"></i>
                  Share
                </button>
                <div class="circle-container">
                  <div class="circle">
                    <p class="circle-text m-0">A</p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card new-card">
        <div class="card-body p-0">
          <div class="row justify-content-between alignment">
            <div class="col-2">
              <img src="assets/images/card_two.svg" class="image" alt="Image" />
            </div>
            <div class="col-2">
              <i class="three-dots fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-4">
              <h5 class="text">Math Assessment</h5>
            </div>
          </div>
          <div class="row pt-2 ml-2">
            <div class="d-flex align-items-center">
              <h6 class="mr-2 mb-0">Job</h6>
              <img src="assets/images/v-line.svg" alt="" class="mr-2" />
              <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
              <span>07 Aug 2023</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr class="dotted-line" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
           <div class="d-flex">
            <div class="ml-2">
              00
              <br />
              Duration
            </div>
            <div class="ml-2">
              00
              <br />
              Question
            </div>
           </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex circle-css-custom">
                <button class="rounded-button">
                  <i class="fa fa-paperclip mr-2" aria-hidden="true"></i>
                  Share
                </button>
                <div class="circle-container">
                  <div class="circle mr-0">
                    <p class="circle-text m-0">A</p>
                  </div>
                  <div class="circle byl mr-0" style="background-color: #3079E1;">
                    <p class="circle-text m-0">D</p>
                  </div>
                  <div class="circle byl mr-0" style="background-color: #E9407A;">
                    <p class="circle-text m-0">LP</p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-heading" id="exampleModalLongTitle">
          Create new assessment
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="labels-heading">Name of assessment</label>
            <input type="text" class="form-control" placeholder="Type Here" />
          </div>
          <div class="form-group">
            <label class="labels-heading">Purpose of the test is</label>
            <select class="form-control">
              <option selected>Select</option>
            </select>
          </div>
          <div class="form-group">
            <label class="labels-heading">Description</label>
            <select class="form-control">
              <option selected>Select</option>
            </select>
          </div>
          <div class="form-group">
            <label class="labels-heading">Skills</label>
            <div
              class="chips-container row remove-border-bottom"
              id="chips-container"
            >
              <!-- Prefilled chips (you can add more if needed) -->
              <div class="badge badge-chip col-md-4">
                UI/UX and Design
                <button
                  type="button"
                  class="close ml-2"
                  aria-label="Close"
                  disabled
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="badge badge-chip col-md-4">
                No of Question
                <button
                  type="button"
                  class="close ml-2"
                  aria-label="Close"
                  disabled
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="badge badge-chip col-md-4">
                Web Development
                <button
                  type="button"
                  class="close ml-2"
                  aria-label="Close"
                  disabled
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
            <div
              class="chips-container row remove-border-top"
              id="chips-container"
            >
              <div class="badge badge-chip col-md-4">
                UI/UX and Design
                <button
                  type="button"
                  class="close ml-2"
                  aria-label="Close"
                  disabled
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="badge badge-chip col-md-4">
                UI/UX and Design
                <button
                  type="button"
                  class="close ml-2"
                  aria-label="Close"
                  disabled
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
            <div class="input-group">
              <!-- Input field for adding new chips -->
              <input
                type="text"
                class="form-control"
                id="new-chip"
                placeholder="Enter a new chip"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="add-button">
                  Add
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="labels-heading">Duration of assessment</label>
            <input
              type="date"
              class="form-control"
              placeholder="HH:MM:SS"
              title="HH:MM:SS"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary w-100"
          data-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>