<!-- partial:index.partial.html -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <ul class="list-unstyled components mt-4">
      <p class="p-0 m-0">
        <img src="assets/images/Vector.svg" alt="" />
      </p>
      <p class="m-0 p-0">Dashboard</p>
      <br />
      <div class="set-as-active">
        <span  >
          <p class="p-0 m-0">
            <img src="assets/images/note_alt.svg" alt="" />
          </p>
          <p class="m-0 p-0">Assessment</p>
        </span>
      </div>
      <br />
      <p class="p-0 m-0">
        <img src="assets/images/quiz.svg" alt="" />
      </p>
      <p class="m-0 p-0">My Library</p>
      <br />
    </ul>
    <ul class="list-unstyled components border-0">
      <span class="crete-red"> Admin </span>
      <br />
      <p class="p-0 m-0">
        <img src="assets/images/admin_meds.svg" alt="" />
      </p>
      <p class="m-0 p-0">
        Round <br />
        Status
      </p>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid-one">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
        </button>
        <div class="ml-3 cursor" >
          <span class="head-heading"> Assessment </span>
        </div>
        <div class="ml-3">
          <span class="head-heading-sec"> My Assessment </span>
        </div>
        <div class="border-active">

        </div>
        <div class="end-type">
          <img src="assets/images/mobile_screen_share.svg" alt="">
        </div>
      </div>
    </nav>

    <h4>Assessments Overview</h4>
    <app-dashboard></app-dashboard>
  </div>
</div>


