.card.mb-3 {
    margin-bottom: 30px !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.font-size-lg {
    font-size: 1.1rem !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.bg-happy-green {
    background-image: linear-gradient(to bottom, #00b09b, #96c93d) !important;
}

.icon-gradient {
    background-clip: text;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.widget-chart.text-left {
    flex-direction: row;
    align-items: center;
}

.widget-chart {
    padding: 1rem;
    position: relative;
}
.bg-transparent {
    background: transparent !important;
}
.no-shadow {
    box-shadow: 0 0 0 transparent !important;
}
.rm-border {
    border-width: 0 !important;
}
.text-left {
    text-align: left !important;
}
.widget-chart.text-left .icon-wrapper {
    min-width: 54px;
    margin: 0 1rem 0 0;
}

.icon-wrapper {
    width: 54px;
    height: 54px;
    position: relative;
    overflow: hidden;
}
.icon-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
}
.rounded-circle {
    border-radius: unset !important;
}
.icon-wrapper .icon-wrapper-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.opacity-10 {
    opacity: 1 !important;
}
.bg-warning {
    background-color: #DD5600 !important;
}
.icon-wrapper i {
    margin: 0 auto;
    font-size: 1.7rem;
    position: relative;
    z-index: 5;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.opacity-8 {
    opacity: .8 !important;
}
.text-white {
    color: #fff !important;
}
widget-chart.text-left .widget-chart-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    position: relative;
}
.widget-subheading{
    font-size: 18px;
    padding: 10px;
    color: #1C4980;
}
.widget-chart .widget-chart-content {
    z-index: 5;
    // border-right: 2px solid #DADCE0;
}
.widget-chart .widget-subheading:first-child {
    margin-top: 0;
}

.widget-chart .widget-subheading {
    margin: -0.5rem 0 0;
    display: block;
    opacity: .6;
}
.widget-chart.text-left .widget-numbers {
    margin-left: 0;
    align-items: center;
    text-align: center;
}

.widget-chart .widget-subheading + .widget-numbers {
    margin-top: 0.5rem;
}
.widget-chart .widget-numbers {
    font-weight: bold;
    font-size: 26px;
    display: block;
    line-height: 1;
    margin-bottom: 11px;
}
.widget-chart.text-left .widget-chart-content .widget-description {
    align-self: flex-start;
}

.widget-chart .widget-numbers + .widget-chart-flex, .widget-chart .widget-numbers + .widget-description, .widget-chart .widget-numbers + .widget-subheading {
    margin-top: -0.5rem;
}
.widget-chart .widget-description {
    margin: 1rem 0 0;
}
.opacity-8 {
    opacity: .8 !important;
}
.text-focus {
   color: #1C4980;
}
.text-danger {
    color: #C71C22 !important;
}
.divider {
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}
.add-bdr{
    border-right: 1px solid #DADCE0;
}
.text-color-change{
    color: #05C165;
    font-size: 12px;
    margin-left: 5px;
    line-height: 0;
    margin-bottom: 0;
}
@media(max-width:425px){
    .widget-chart .widget-numbers {
        font-size: 16px;
    }
    .widget-chart-content{
        margin-left: 0px !important;
    }
    .remove-margin{
        margin-left: 0px !important;
    }
}