<div class="mb-3 card">
  
    <div class="no-gutters row">
        <div class="col-md-2 add-bdr">
            <div class="widget-subheading">Total Assessment</div>
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left pt-0">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-10 ">
<img src="assets/images/first.svg" alt="">
                    </div>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-numbers">34</div>
                 
                </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-md-3 add-bdr">
            <div class="widget-subheading">Candidates</div>
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left pt-0">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9">
                        <img src="assets/images/second.svg" alt="">
                    </div>
                </div>
               <div class="row">
                <div class="widget-chart-content ml-2">
                    <div class="widget-numbers d-flex"><span>11,145</span> <p class="text-color-change">+89</p></div>
                    <div class="widget-description text-focus"> Total Candidate <span class="text-warning pl-1">
                     
                    </span></div>
             
                </div>
                <div class="ml-3 remove-margin">
                    <img src="assets/images/line-right.svg" alt="">
                </div>
                <div class="widget-chart-content ml-4">
                    <div class="widget-numbers d-flex"><span>11,145</span> <p class="text-color-change">+89</p></div>
                    <div class="widget-description text-focus"> Total Candidate <span class="text-warning pl-1">
                     
                    </span></div>
             
                </div>
               </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-md-5 add-bdr">
            <div class="widget-subheading">Candidates Source</div>
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left pt-0">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9">
                        <img src="assets/images/third.svg" alt="">
                    </div>
                </div>
               <div class="row">
                <div class="widget-chart-content ml-2">
                    <div class="widget-numbers d-flex"><span>1100</span> <p class="text-color-change">+89</p></div>
                    <div class="widget-description text-focus"> E-mail <span class="text-warning pl-1">
                     
                    </span></div>
             
                </div>
                <div class="ml-3 remove-margin">
                    <img src="assets/images/line-right.svg" alt="">
                </div>
                <div class="widget-chart-content ml-4">
                    <div class="widget-numbers d-flex"><span>145</span> <p class="text-color-change">+89</p></div>
                    <div class="widget-description text-focus">Social Share <span class="text-warning pl-1">
                     
                    </span></div>
             
                </div>
                <div class="ml-4 remove-margin">
                    <img src="assets/images/line-right.svg" alt="">
                </div>
                <div class="widget-chart-content ml-4">
                    <div class="widget-numbers d-flex"><span>145</span> <p class="text-color-change">+89</p></div>
                    <div class="widget-description text-focus">Unique Link<span class="text-warning pl-1">
                     
                    </span></div>
             
                </div>
               </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-md-2 ">
            <div class="widget-subheading">Total Purpose</div>
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left pt-0">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-10 ">
<img src="assets/images/fourth.svg" alt="">
                    </div>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-numbers">34</div>
                 
                </div>
            </div>
        </div>
    </div>

</div>