/* You can add global styles to this file, and also import other style files */

body{
    background-color: #F6F8FA;
    font-family: 'Inter', sans-serif; /* Use 'Inter' as the preferred font family */
color: #1C4980;
}
input{
    height: 50px;
}
select.form-control{
    height: 50px;
}
select.form-control:not([size]):not([multiple]) {
    height: 50px;
}
.form-control{
    box-shadow: unset;
    border-color: #DADCE0;
}
.form-control:focus{
    box-shadow: unset;
    border-color: #DADCE0;
}